
.custom-file-label::after {
  content: "Choose File";
  display: inline-block;
  padding: 6px 12px;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #e4dfdf;
  cursor: pointer;
}

.custom-file-label.selected::after {
  content: attr(data-selected);
}
